<!DOCTYPE html>
<html>
    <body>
        <section class="header">
            <nav>
                <a href="https://chewyboba10.github.io/TeamRepo/"><img src ="images/ramen.png"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/plan.html">PLAN</a></li>
                        <li><a href="{{ site.baseurl }}/leaderboard.html">LEADERBOARD</a></li>
                        <li><a href="{{ site.baseurl }}/project.html">GEOGUESSER</a></li>
                        <li><a href="{{ site.baseurl }}/howtoplay.html">HOWTOPLAY</a></li>
                        <li><a href="{{ site.baseurl }}/project1.html">GEOGUESSER 1</a></li>
                        <li><a href="{{ site.baseurl }}/leaderboard1.html">NEW LEADERBOARD</a></li>
                    </ul>
                    <script>
                        var loader = document.getElementById("loading");
                        window.addEventListener("load", function(){
                            loader.style.display = "none";
                        })
                    </script>
                </div>
            </nav>
        </section>
    </body>
</html>



