<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <a href="https://chewyboba10.github.io/TeamRepo/"><img src ="images/ramen.png"></a>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/plan.html">PLAN</a></li>
                        <li><a href="{{ site.baseurl }}/leaderboard.html">LEADERBOARD</a></li>
                        <li><a href="{{ site.baseurl }}/locations.html">LOCATIONS</a></li>
                        <li><a href="{{ site.baseurl }}/project.html">GEOGUESSER</a></li>
                        <li><a href="{{ site.baseurl }}/winning.html">WINNER</a></li>
                        <li><a href="{{ site.baseurl }}/project1.html">GEOGUESSER 1</a></li>
                    </ul>
                    <!--loading screen-->
                    <script>
                        var loader = document.getElementById("loading");
                        window.addEventListener("load", function(){
                            loader.style.display = "none";
                        })
                    </script>
                </div>
            </nav>
        </section>
    </body>
</html>




