---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

// kalanis classes
/* styles.css */
body {
  font-family:'Futura Std Condensed';
  margin: auto;
  padding: 0;
}
header {
  background-color: #F0F5FF;
  padding: 20px;
  text-align: center;
  margin: auto;
}
.title {
  color: #005CBF;
  font-size: 28px;
  text-align: center;
}
main {
  margin: 40px auto;
  max-width: 600px;
  padding: 0 20px;
  text-align: center;
}
.description {
  margin-bottom: 40px;
  text-align: center;
}
.description h2 {
  color: #005CBF;
  font-size: 24px;
  text-align: center;
}
.description p {
  color: #333;
  font-size: 16px;
  text-align: center;
}
.game-start h2 {
  color: #005CBF;
  font-size: 24px;
  text-align: center;
}
.game-start p {
  color: #333;
  font-size: 16px;
  text-align: center;
}
.start-button {
  background-color: #007BFF;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
}
.start-button:hover {
  background-color: #0056b3;
  text-align: center;
}
footer {
  background-color: #F0F5FF;
  bottom: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  text-align: center;
}
.footer-text {
  color: #333;
  font-size: 14px;
  text-align: center;
}